@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*@model Vroom.Models.ViewModels.ModelViewModel*@
@model IEnumerable<Vroom.Models.Model>
@*cannot use this as  we are using foreach loop which requires IEnumerable
    @model Vroom.Models.Model
*@
<h2>Add models</h2>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Make of Vehicle</h2>
    </div>
    <br />
    <div class="col-6  text-right">
        <a class="btn btn-info" asp-controller="model" asp-action="CreateModel"><i class="fas fa-motorcycle"></i> &nbsp; Add new Vehicle: Make and Model</a>
    </div>
    <br />

</div>
<br />
<div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info col-12">
                <th>
                    @Html.DisplayNameFor(m => m.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Make.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td class="text-right">
                        <form method="post">
                            <a class="btn btn-outline-info" asp-action="EditModel" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>

                            <button type="submit" onclick="return confirm('Are you sure you wnat to delete? Make: @item.Name');" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></button>
                        </form>


                    </td>
                </tr>
            }
        </table>
    </div>

